<section class="parallax parallax2">
  <div class="parallax-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Offres D' Esprit</h2>
        <h3>veuillez Proposer</h3>
        <p>
          <a href="/offrefournisseur" class="btn btn-primary white">tous les offes</a>
        </p>
      </div>
    </div>
  </div><!-- Container end -->
</section><!-- Parallax 2 end -->
<div class="box box-primary">
  <div class="box-header with-border">
  </div>
  <!-- /.box-header -->
  <!-- form start -->
  <form *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && uploadwebimg()"
        #f="ngForm"
        novalidate>
    <p-scrollPanel [style]="{width: '100%', height: '700px'}" styleClass="custom">
      <div class="col-md-6" style="width: 600px; margin: 0 auto; " >

        <h3 class="title-border">donner vos proposition</h3>
        <div class="widget widget-tab" id="parent" >
          <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" href="#tab1" data-toggle="tab">utiliser camera </a></li>
            <li class="nav-item"><a class="nav-link" href="#tab2" data-toggle="tab">utiliser un fichier dans votre pc</a></li>
            <li class="nav-item"><a class="nav-link active" href="#tab3" data-toggle="tab">utiliser scanner </a></li>
          </ul>
          <div class="tab-content"id="child-left">
            <div class="tab-pane active" id="tab1">
              <div style="text-align:center">
                <div>
                  <webcam [height]="400" [width]="400" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
                          [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions" (cameraSwitched)="cameraWasSwitched($event)"
                          (initError)="handleInitError($event)"></webcam>
                  <br/>

                  <div class="actionBtn" (click)="showNextWebcam(true);" title="Switch Camera">🔁</div>
                  <div class="actionBtn" (click)="triggerSnapshot();" title="Take Picture">📸</div>
                </div>
              </div>
              <h4 *ngIf="errors.length > 0">Messages:</h4>
              <ul *ngFor="let error of errors">
                <li>{{error | json}}</li>
              </ul>

              <div class="form-group">
                <label for="descriptions" > Description</label>
                <textarea id="descriptions"   #descriptions="ngModel" required
                          minlength="3"
                          maxlength="2000" class="form-control" type="text" name="description" ngModel [(ngModel)]="description"></textarea>
              </div>
              <div class="alert-danger" *ngIf="f.submitted && descriptions.invalid">
                <div *ngIf="descriptions.errors.required">description is required</div>
                <div *ngIf="descriptions.errors.minlength">
                  description must be at least 3 characters
                </div>
                <div *ngIf="descriptions.errors.maxlength">
                  description must be at most 20 characters
                </div>
              </div>

              <button class="btn btn-success" type="submit" pButton icon="pi pi-external-link" label="proposer"></button>
              <p-dialog header="Donner votre avis " [(visible)]="display" [style]="{width: '50vw'}" [baseZIndex]="10000">
               <app-avis></app-avis>
                   <p-footer>
                </p-footer>
              </p-dialog>

            </div>
            <div class="tab-pane" id="tab2">


              <form *ngIf="!isSuccessful"
                    name="form"
                    (ngSubmit)="f.form.valid && uploadfile()"
                    #f="ngForm"
                    novalidate>
                <div class="widget">
                  <div >

                    <div class="progress">
                      <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
                           aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
                        {{progress.percentage}}%</div>
                    </div>

                    <label class="btn btn-default">
                      <input type="file" (change)="selectFile($event)">
                    </label>
                      <div class="form-group">
                        <label for="description" > Description</label>
                        <textarea id="description"   #descriptions="ngModel" required
                                  minlength="3"
                                  maxlength="2000" class="form-control" type="text" name="description" ngModel [(ngModel)]="description"></textarea>
                      </div>
                      <div class="alert-danger" *ngIf="f.submitted && descriptions.invalid">
                        <div *ngIf="descriptions.errors.required">description is required</div>
                        <div *ngIf="descriptions.errors.minlength">
                          description must be at least 3 characters
                        </div>
                        <div *ngIf="descriptions.errors.maxlength">
                          description must be at most 20 characters
                        </div>
                      </div>

                    <button  class="btn btn-success" [disabled]="!selectedFiles" type="submit" >valider</button>
                  </div>
                </div><!-- Text widget end -->
              </form>
            </div>
            <div class="tab-pane" id="tab3">

/***********scan**************/

            </div>
          </div>
          <br><br>
          <div class="snapshot" *ngIf="webcamImage" id="child-right">
            <img [src]="webcamImage.imageAsDataUrl" width="350px" height="300px"/>
          </div>
        </div><!-- End default tabs -->



      </div>
    </p-scrollPanel>
  </form>
</div>