

#parent{
  padding: 0 auto;
  width: 1000px;
}
#child-left{
  float: left;
  width: 500px;
}
#child-right{
  float: right;
  width: 400px;
}

.custom .ui-scrollpanel-wrapper {
  border-right: 9px solid #f4f4f4;
}

.custom .ui-scrollpanel-bar {
  background-color: #1976d2;
  opacity: 1;
  transition: background-color .3s;
}

.custom .ui-scrollpanel-bar:hover {
  background-color: #135ba1;
}